:root{
    --background-color: #000000;
    --background-body-color: #041b19;
    --block-color: #f2e9d4;
    --secondary-block-color: #fbf9e7;
    --button-color: #a9a394;
    --button-hover-color: #33312b;
    --input-color: #fbf9e7;
    --input-secondary-color: #f5f2db;
    --letter-color: #4e4e4e;
    --letter-placeholder-color: #85635c;
    --letter-hover-color:#a9a394;
    --button-letter-color: #fbf9e7;
}
 
/* 
    PARTE DA LOGO 
*/
.logoBankStyle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logoBankStyle h1{
    font-size: 2rem;
    color: var(--letter-color);
}

.logoBankStyle h2{
    padding-left: 0px;
    font-weight: 200;
    font-size: 1.8rem;
    color: var(--letter-placeholder-color);
}


/*
    PARTE DO CARD DE CRIAR A CONTA
*/
.createAccountBase{
    background-color: var(--block-color);
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

.logoBankPreLogin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoBankPreLogin img{
    width: 300px;
    min-width:300px;
}

.inputPreLogin{
    width: 90%;
    height: 50px;
    margin: 15px 0px 10px 0px;
    padding: 5px;
    color: var(--letter-color);
    background-color: var(--input-color);
    border-radius: 10px;
    border-style: none;
    font-size: 1.2rem;
}

.inputPreLogin:focus{
    border-style: none;
    border-color: #444444;
}

.inputPreLogin::placeholder{
    color: var(--letter-placeholder-color);
    padding-left: 10px;
}

.choiceRadioButton{
    width: 100%;
    display: flex;
    color: var(--letter-color);
}

.choiceRadioButton form label{
    margin-left: 5px;
    margin-right: 10px;
    padding: 0px;
    font-size: 1.1rem;
    color: var(--letter-color);
}

.inputRadiosPreLogin{
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border: 0.15rem solid var(--button-color);
    border-radius: 50%;
    background-color: var(--letter-color);
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--letter-color);
}

.inputRadiosPreLogin:checked{
    background-color: rgb(0, 81, 255);
    width: 1.5em;
    height: 1.5em;
    border: 0.15rem solid var(--letter-color);
}

.textInputCheckBox{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0px 10px 20px;
    width: 40%;
    color: var(--letter-color);
}

.buttonPreLogin{
    background-color: var(--button-color);
    border-radius: 10px;
    padding: 10px 30px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 5px;  
    font-size: 1.5rem;
    color: var(--button-letter-color);
}

.buttonPreLogin:hover{
    background: var(--button-hover-color);
}

/*
    PARTE DO LOGIN
*/


.inputsAreaLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

/*
    PARTE DO BOTAO DE CRIAR CONTA NA LANDING PAGE
*/

.buttonAccount button{
    background: none ;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 1.3rem;
    margin: 10px 5px;
    width: 200px;
    color: white;
}

.buttonAccount button:hover{
    color:white;
    background: rgba(255, 255, 255, 0.3);
    
}

.buttonAccount button a:hover{
    color: var(--letter-hover-color);
}

/*
    NAVBAR INTERNAL WITH USER LOGGED
*/
.navBarGeral{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navBarInternal{
    width: 1440px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    background: var(--block-color);
    border-radius: 10px;
    margin: 10px;
    height: 60px;
    justify-content: center;
    align-self: center;
}


.personIconNavBar{
    background: var(--button-color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 8px;
}

.personIconNavBar img{
    margin:0px;
    width: 45px;
    height: 45px;
}

.personIconNavBar:hover{
    background: var(--button-hover-color);
}

.navBarLogoArea{
    width: 20%;
    margin-top: 12px;
    margin-left: 20px;
    
}

.navBarButtons{
    width: 10%;
    height: 100%;
    display: flex;
}

.navBarButtons button{
    background: none;
    border: none;
    padding: 10px;
}

.navBarButtons button img{
    width: 40px;
    color: var(--button-color);
}

.navBarInternalTexts{
    display: inline-flex;
    color: var(--letter-color);
    width: 80%;
    justify-content: center;
}

.navBarInternalTexts h4{
    margin: 17px 15px 0px 15px;
    font-weight: 400;
    font-size: 1.3rem;
}

.navBarInternalTexts h4 a:hover{
    color: var(--letter-hover-color);
}

/*
    PARTE CENTRAL
*/
.divGeral{
    width: 100%;
    display: flex;
    justify-content: center;

}

.centralParteDashboard{
    max-width: 1440px;
    width: 1440px;
    display: flex;
    margin-top: 15px;
}

/*
    ELEMENTOS A ESQUERDA
*/

.cardsLeft{
    width: 22%;
    max-width: 22%;
    min-width: 22%;
    margin-right: 5px;
}

.cardHelloUserBlock{
    background: var(--block-color);
    height: 170px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardHelloUserBlock h4{
    margin-left: 15px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 300;
    color: var(--letter-color);
}

.cardHelloUserBlock h1{
    margin-left: 30px;
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    height: 100px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap; 
}

.cardHelloUserBlock h3{
    position: relative;
    height: 60px;
    top: 0px;
    text-align: center;
    font-size:1.8rem;
    font-weight: 400;
}

.cardDepositMoneyBlock{
    background: var(--block-color);
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    color: var(--letter-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.cardDepositMoneyBlock h1{
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.inputDepositValue{
    width: 94%;
    background: var(--input-color);
    margin-top: 15px;
    border-radius: 10px;
    height: 40px;
    border-style: none;
    color: var(--letter-color);
    font-size: 1.2rem;
    padding-left: 10px;
    text-align: end;
    padding-right: 10px;
}

.inputDepositValue::placeholder{
    color: var(--letter-placeholder-color);
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.buttonDeposit button{
    background-color: var(--button-color);
    padding: 7px 10px;
    border-style: none;
    margin: 15px 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--button-letter-color);
}

.buttonDeposit button:hover{
    background: var(--button-hover-color);
}

.qrCodeImage{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.qrCodeImage img{
    width: 50%;
    background: var(--letter-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttonPayDeposit{
    background: var(--button-color);
    color: var(--button-letter-color);
    padding: 7px 30px;
    border-style: none;
    margin: 0px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.buttonPayDeposit:hover{
    background: var(--button-hover-color);
}

/*
    ELEMENTOS NO CENTRO
*/

.cardsCenter{
    width: 60%;
    min-width: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.infoClientBalanceBlock{
    width: 100%;
    border-radius: 10px;
    background: var(--block-color);
    height: 170px;
    
}

.infoClientBalanceBlock h4{
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}

.infoClientsBalanceValuesCards{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: end;
    width: 97%;
    margin: auto;
    border-radius: 10px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar{
    height: 10px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar-track {
    background: var(--block-color);
    border-radius:20px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar-thumb {
    background: var(--secondary-block-color);
    border-radius: 20px;  
    border: black solid 1px;
}

.infoClientValueCard{
    background: var(--secondary-block-color);
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 110px;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    white-space: nowrap;
}

.infoClientValueCard h5{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}

.infoClientValueCard h4{
    display: flex;
    align-items: baseline;
    font-size: 2.5rem;
    font-weight: 700;
    padding-right: 10px;
    padding-top: 20px;
}

.infoClientValueCard h4 p{
    font-size: 1.2rem;
    padding-right: 10px;
    font-weight: 500;
    
}

.recentsTransactionsBlock{
    width: 100%;
    height: 60vh;
    
    background: var(--block-color);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 15px;
}

.listTransactions{
    height: 59vh;
    overflow-y: scroll;
}

.listTransactions::-webkit-scrollbar{
    width: 10px;
}

.listTransactions::-webkit-scrollbar-track {
    background: var(--secondary-block-color);
    border-radius:20px;
}

.listTransactions::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 20px;  
    border: var(--block-color) solid 1px;
}

.recentsTransactionsBlock h4{
    text-align: left;
    align-self: start;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.infoTransactionBlockList{
    width: 96%;
    background: var(--secondary-block-color);
    height: 70px;
    margin-left: 10px ;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.infoTransactionBlockList:hover{
    background: var(--background-body-color);
}

.iconAboutMoneyTransaction{
    width: 10%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-right: var(--block-color) solid 5px;
}

.iconAboutMoneyTransaction svg{
    fill: var(--button-color);
    width: 80%;
    min-width: 80%;
}

.infoTechnicalAboutTransaction{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-self: flex-start;
    margin-top: 5px;
    

}

.infoTechnicalAboutTransaction h2{
    width: 190px;
    min-width: 190px;
    font-weight:300;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 3px;
}

.infoValueAboutTransaction h2{
    align-items: baseline;
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
}


.infoValueAboutTransactionValueArea{
    display: flex;

    align-items: baseline;
    margin-left: 20px;

}

.infoValueAboutTransactionValueArea p{
    font-size: 1rem;
}



/*
    ELEMENTOS A DIREITA
*/

.cardsRight{
    width: 22%;
    max-width: 22%;
    min-width: 22%;
    margin-left: 10px;
}

.accountInfoGeral{
    width: 100%;
    border-radius: 10px;
    background: var(--block-color);
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountInfoGeral h1{
    text-align: center;
    padding-top: 5px;
    font-size: 2.2rem;
    font-weight: 500;
}

.accountData{
    width: 90%;
    background: var(--input-color);
    border-radius: 10px;
    padding: 0px 10px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 15px;
}

.accountData h6{
    font-weight: 400;
    font-size: 1.25rem;
    padding-left: 10p;
}

.fastPixBlock{
    width: 100%;
    background: var(--block-color);
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
}

.fastPixBlock h1{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
}

.inputArea{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.inputKeyPix{
    width: 95%;
    margin-top: 10px;
    
}

.inputKeyPix input{
    background: var(--input-color);
    border-style: none;
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding-left: 15px;
    font-size: 1.2rem;
    color: var(--letter-color);

}

.inputKeyPix input::placeholder{
    text-align: left;
    color: var(--letter-placeholder-color);
}

.inputValuePix{
    text-align: end;
    padding-right: 10px;
}

.inputValuePix::placeholder{
    text-align: left;
    color: var(--letter-placeholder-color);
}

.fastPixBlock button{
    margin-top: 10px;
    background: var(--button-color);
    color: var(--button-letter-color);
    border-style: none;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 1rem;
}

.fastPixBlock button:hover{
    background: var(--button-hover-color);
}

.fastPixInfoReceiver{
    margin-bottom: 5px;
    margin-top: 15px;
    background: var(--secondary-block-color);
    padding: 10px;
    border-radius: 10px;
    width: 93%;
    text-overflow: clip;
}

.fastPixInfoReceiverData{
    display: flex;
    align-items: baseline;
    width: 100%;
}

.fastPixInfoReceiverData h4{
    font-weight: 400;
    font-size: 1rem;
    padding-right: 5px;
}

.fastPixInfoReceiverData h3{
    font-weight: 600;
    text-overflow: clip;
}

/*
    PARTE DA PAGINA DE  TRANSAÇÕES
*/

.cardRightTransactionsPage{
    width: 25%;
}

.cardsLeftTransactionPage{
    width: 75%;

    background: var(--block-color);
    margin-left: 10px;
    border-radius: 10px;
}

/*
    PARTE DO CARD DE TRANSAÇÕES
*/
.superiorPartTransactions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    position: relative;
}

.superiorPartTransactions h1{
    padding: 10px 15px;
    font-weight: 600;
    align-self: flex-start;
}

.constructTrasaction{
    width: 98%;
    background: var(--secondary-block-color);
    height: 50px;
    border-radius: 10px;
    display: flex;
    
}

.constructTrasaction input{
    background: var(--input-secondary-color);
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    width: 27%;
    padding-left: 10px;
    color: var(--letter-color);
}

.constructTrasaction input::placeholder{
    color: var(--letter-placeholder-color);
}

.constructTrasaction select{
    background: var(--input-secondary-color);
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    width: 27%;
    padding-left: 10px;
    color: var(--letter-color);
    padding: 10px;
}

.constructTrasaction button{
    background: var(--button-color);
    color: var(--button-letter-color);
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    width: 200px;
    padding-left: 10px;
    color: #EEEEEE;
    font-size: 1.3rem;
}

.constructTrasaction button:hover{
    background: var(--button-hover-color);
}

.operationsOfPacketTransactionsArea{
    width: 98%;
    background: var(--secondary-block-color);
    height: 72%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textExplainCampsArea{
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: left;
    align-items: center;
    background: var(--block-color);
    border-radius: 10px;
    margin-top: 10px;
   
}

.textExplainCampsArea h1{
    align-items: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    width: 30%;

}

.textExplainCamps{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: left;
    align-items: left;
    height: 50px;
} 

.areaTransactionsList{
    width:100%;
    overflow-y: scroll;
    height: 100%;
    margin-top: 10px;
}

.areaTransactionsList::-webkit-scrollbar{
    width: 10px;
}

.areaTransactionsList::-webkit-scrollbar-track {
    background: var(--secondary-block-color);
    border-radius:20px;
}

.areaTransactionsList::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 20px;  
    border: var(--block-color) solid 1px;
}



.operationsOfPacketTransactionsArea ul{
    list-style: none;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.operationsOfPacketTransactionsArea li{
    align-self: center;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardAboutTransactionMountedGeral{
    width: 98%;
    background: var(--block-color);
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.infoOperationArea{
    width:32%;
    height: 40px;
    background: var(--secondary-block-color);
    margin: 0px 5px;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items:end;
    justify-content: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.infoOperationArea h1{
    color: var(--letter-color);
    padding: 7px;
    text-align:center;
    font-size: 1.2rem;
    font-weight: 400;
}

.infoOperationArea h2{
    font-weight: 300;
    padding-bottom: 4px;
}

.buttonRemoveTransaction{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.buttonRemoveTransaction button{
    background: var(--button-color);
    color: var(--button-letter-color);
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 0px;
    align-items: center;
    margin: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.buttonRemoveTransaction button:hover{
    background: var(--button-hover-color);
}

.buttonRemoveTransaction button h1{
    padding: 0px;
    margin: 0px;
    font-size: 2.2rem;
}
/*
    BUTTON PACKE
*/

.buttonMakePacketTransaction{
    background: var(--button-color);
    color: var(--button-letter-color);
    border-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.buttonMakePacketTransaction:hover{
    background-color: var(--button-hover-color);
}


/*
    LOADING PART
*/

.loadingBackground{
    background: #00000093;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
}

.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
}

.loaderSquare {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loaderSquare:nth-of-type(0) {
    animation-delay: 0s;
}

.loaderSquare:nth-of-type(1) {
animation-delay: -1.4285714286s;
}

.loaderSquare:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loaderSquare:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loaderSquare:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loaderSquare:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loaderSquare:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loaderSquare:nth-of-type(7) {
    animation-delay: -10s;
}


/*
    CARD QUE INFORMA QUE TEVE ERRO NA OPERAÇÃO
*/

.errorBackground{
    background: #050000b0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}


.error {
    width: 30%;
    height: 50%;
    fill: rgb(117, 1, 1);
    justify-self: start;
    margin-top: 20px;
    
}

.error svg{
    width: 100%;
    height: 100%;
}

.errorText {
    height: 50%;
}

.errorText h1{
    border-top: var(--background-color) 5px solid;
    text-align: left;
    font-size: 1.5rem;
    margin: 10px;
}

/*
    CARD QUE MOSTRA AS INFOS DETALHADAS
*/

.infoDetailedGeral{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardWithDetails{
    background-color: var(--block-color);
    border-radius: 20px;
    width:500px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  9px 9px 30px #00000080;
} 

.titleInfoDetailedGeral{
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}


.titleInfoDetailedGeral button{
    
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    border-radius: 10px;
    border: none;
    color: var(--letter-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.titleInfoDetailedGeral button:hover{
    background-color: var(--button-hover-color);
}

.cardWithDetails h1{
    margin-top: 10px;
    color: var(--letter-color);
}

.principalInfosAboutTransaction{
    background-color: var(--secondary-block-color);
    width: 95%;
    height: 220px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.infosAboutPersonsEnvolved{
    align-self: start;
    margin-left: 20px;
    
}

.infosAboutPersonsEnvolved h1{
    padding: 0px;
    font-size: 1.8rem;
    font-weight: 700;
    margin:0px;
}

.infosAboutPersonsEnvolved h2{
    padding: 0px;
    font-size: 1.5rem;
    padding-left: 40px;
    font-weight: 400;
    margin:0px;
}

.logoAboutTransaction{
    width: 30%;
    padding: 10px;
    border-right: var(--button-color) solid 4px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.logoAboutTransaction svg{
    fill: var(--button-color);
}


.textsPrincipalAboutTransaction{
    height: 100%;
    align-self: center;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.textsPrincipalAboutTransaction h1{
    padding: 0px;
    font-size: 1.6rem;
    font-weight: 700;
}

.textsPrincipalAboutTransaction h2{
    padding: 0px;
    font-size: 1.3rem;
    padding-left: 8px;
    font-weight: 400;
}