* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body{
  background: rgb(0,0,0);

}

a{
  text-decoration: none;
}

