* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--letter-color);
  outline: none;
}

body{
  background: var(--background-body-color);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100vh;

}

a{
  text-decoration: none;
}

