
/*
    PARTE DO CARD DE CRIAR A CONTA
*/
.createAccountBase{
    background-color: #171717;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    width: 500px;
    display: block;
    flex-direction: column;
    margin: 30px;

}

.logoBankPreLogin{
    margin-left: 16%;
}


.inputPreLogin{
    width: 90%;
    height: 50px;
    margin: 15px 10px 10px 20px;
    padding: 5px;
    color: #EEEEEE;
    background-color: #444444;
    border-radius: 10px;
    border-style: none;
    font-size: 1.2rem;
}

.inputPreLogin:focus{
    border-style: none;
    border-color: #444444;
}

.inputPreLogin::placeholder{
    color: #c4c1c1;
    padding-left: 10px;
}

.choiceRadioButton{
    width: 100%;
    display: flex;

}

.choiceRadioButton form label{
    margin-left: 5px;
    margin-right: 10px;
    padding: 0px;
    font-size: 1.1rem;
}

.inputRadiosPreLogin{
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border: 0.15rem solid #444444;
    border-radius: 50%;
    background-color: #EEEEEE;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputRadiosPreLogin:checked{
    background-color: rgb(0, 81, 255);
    width: 1.5em;
    height: 1.5em;
    border: 0.15rem solid #EEEEEE;
}

.textInputCheckBox{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0px 10px 20px;
    width: 40%;
}

.buttonPreLogin{
    background-color: #444444;
    border-radius: 10px;
    padding: 10px 30px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 35%;    
    font-size: 1.5rem;
}


/*
    PARTE DO LOGIN
*/

.logoBankLogin{
    margin-left: 16%;
    margin-top: 30px;
}

.inputsAreaLogin{
    margin-top: 35px;
    margin-bottom: 30px;
}