
/*
    PARTE DO CARD DE CRIAR A CONTA
*/
.createAccountBase{
    background-color: #171717;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    width: 500px;
    display: block;
    flex-direction: column;
    margin: 30px;

}

.logoBankPreLogin{
    margin-left: 16%;
}


.inputPreLogin{
    width: 90%;
    height: 50px;
    margin: 15px 10px 10px 20px;
    padding: 5px;
    color: #EEEEEE;
    background-color: #444444;
    border-radius: 10px;
    border-style: none;
    font-size: 1.2rem;
}

.inputPreLogin:focus{
    border-style: none;
    border-color: #444444;
}

.inputPreLogin::placeholder{
    color: #c4c1c1;
    padding-left: 10px;
}

.choiceRadioButton{
    width: 100%;
    display: flex;

}

.choiceRadioButton form label{
    margin-left: 5px;
    margin-right: 10px;
    padding: 0px;
    font-size: 1.1rem;
}

.inputRadiosPreLogin{
    width: 1.5em;
    height: 1.5em;
    appearance: none;
    border: 0.15rem solid #444444;
    border-radius: 50%;
    background-color: #EEEEEE;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputRadiosPreLogin:checked{
    background-color: rgb(0, 81, 255);
    width: 1.5em;
    height: 1.5em;
    border: 0.15rem solid #EEEEEE;
}

.textInputCheckBox{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0px 10px 20px;
    width: 40%;
}

.buttonPreLogin{
    background-color: #444444;
    border-radius: 10px;
    padding: 10px 30px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 35%;    
    font-size: 1.5rem;
}


/*
    PARTE DO LOGIN
*/

.logoBankLogin{
    margin-left: 16%;
    margin-top: 30px;
}

.inputsAreaLogin{
    margin-top: 35px;
    margin-bottom: 30px;
}

/*
    PARTE DO BOTAO DE CRIAR CONTA NA LANDING PAGE
*/

.buttonAccount button{
    background: none ;
    border-radius: 10px;
    border: 2px solid #EEEEEE;
    padding: 5px 10px;
    font-size: 1.3rem;
    margin: 10px 5px;
    width: 200px;
    color: #EEEEEE;
}

.buttonAccount button:hover{
    background: #EEEEEE ;
    border: 2px solid #171717;
    color: black;
}


/*
    NAVBAR INTERNAL WITH USER LOGGED
*/
.navBarGeral{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navBarInternal{
    width: 1440px;
    max-width: 1440px;
    display: inline-flex;
    background: #171717;
    border-radius: 10px;
    margin: 10px;
    height: 60px;
}

.navBarInternal img{
    width: 210px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 16%;
}

.personIconNavBar{
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 8px;
    margin-left: 30%;
}

.personIconNavBar img{
    margin:0px;
    width: 45px;
    height: 45px;
}

.personIconNavBar:hover{
    background: black;
}

.navBarInternalTexts{
    display: inline-flex;
    color: #EEEEEE;
}

.navBarInternalTexts h4{
    margin: 17px 15px 0px 15px;
    font-weight: 400;
    font-size: 1.3rem;
}

.navBarInternalTexts h4 a:hover{
    color: #444444;
}

/*
    PARTE CENTRAL
*/
.divGeral{
    width: 100%;
    display: flex;
    justify-content: center;

}

.centralParteDashboard{
    max-width: 1440px;
    width: 1440px;
    display: flex;
    margin-top: 15px;
}

/*
    ELEMENTOS A ESQUERDA
*/

.cardsLeft{
    width: 22%;
    max-width: 22%;
    min-width: 22%;
    margin-right: 5px;
}

.cardHelloUserBlock{
    background: #171717;
    height: 170px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardHelloUserBlock h4{
    margin-left: 15px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 300;
    color: #EEEEEE;
}

.cardHelloUserBlock h1{
    margin-left: 30px;
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    height: 100px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap; 
}

.cardHelloUserBlock h3{
    position: relative;
    height: 60px;
    top: 0px;
    text-align: center;
    font-size:1.8rem;
    font-weight: 400;
}

.cardDepositMoneyBlock{
    background: #171717;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.cardDepositMoneyBlock h1{
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.inputDepositValue{
    width: 94%;
    background: #444444;
    margin-top: 15px;
    border-radius: 10px;
    height: 40px;
    border-style: none;
    color: #EEEEEE;
    font-size: 1.2rem;
    padding-left: 10px;
    text-align: end;
    padding-right: 10px;
}

.inputDepositValue::placeholder{
    color: #EEEEEE;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.buttonDeposit button{
    background-color: #444444;
    padding: 7px 10px;
    border-style: none;
    margin: 15px 5px;
    border-radius: 10px;
    font-size: 1rem;
}

.buttonDeposit button:hover{
    background: #000000;
}

.qrCodeImage{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.qrCodeImage img{
    width: 50%;
    background: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttonPayDeposit{
    background: #444444;
    padding: 7px 30px;
    border-style: none;
    margin: 0px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.buttonPayDeposit:hover{
    background: #000000;
}

/*
    ELEMENTOS NO CENTRO
*/

.cardsCenter{
    width: 60%;
    min-width: 50%;
    margin-left: 10px;
    margin-right: 5px;
}

.infoClientBalanceBlock{
    width: 100%;
    border-radius: 10px;
    background: #171717;
    height: 170px;
    
}

.infoClientBalanceBlock h4{
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}

.infoClientsBalanceValuesCards{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: end;
    width: 97%;
    margin: auto;
    border-radius: 10px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar{
    height: 10px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar-track {
    background: #171717;
    border-radius:20px;
}

.infoClientsBalanceValuesCards::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 20px;  
    border: black solid 1px;
}

.infoClientValueCard{
    background: #444444;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 110px;
    display: flex;
    flex-direction: column;
}

.infoClientValueCard h5{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}

.infoClientValueCard h4{
    display: flex;
    align-items: baseline;
    font-size: 2.5rem;
    font-weight: 700;
    padding-right: 10px;
    padding-top: 20px;
}

.infoClientValueCard h4 p{
    font-size: 1.2rem;
    padding-right: 10px;
    font-weight: 500;
    
}

.recentsTransactionsBlock{
    width: 100%;
    height: 60vh;
    
    background: #171717;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 15px;
}

.listTransactions{
    height: 59vh;
    overflow-y: scroll;
}

.listTransactions::-webkit-scrollbar{
    width: 10px;
}

.listTransactions::-webkit-scrollbar-track {
    background: #171717;
    border-radius:20px;
}

.listTransactions::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 20px;  
    border: black solid 1px;
}

.recentsTransactionsBlock h4{
    text-align: left;
    align-self: start;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.infoTransactionBlockList{
    width: 96%;
    background: #444444;
    height: 70px;
    margin-left: 10px ;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoTransactionBlockList:hover{
    background: #000000;
}

.iconAboutMoneyTransaction{
    width: 10%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-right: #171717 solid 5px;
}

.iconAboutMoneyTransaction svg{
    fill: #171717;
    width: 80%;
    min-width: 80%;
}

.infoTechnicalAboutTransaction{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-self: flex-start;
    margin-top: 5px;
    

}

.infoTechnicalAboutTransaction h2{
    width: 190px;
    min-width: 190px;
    font-weight:300;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 3px;
}

.infoValueAboutTransaction h2{
    align-items: baseline;
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
}


.infoValueAboutTransactionValueArea{
    display: flex;

    align-items: baseline;
    margin-left: 20px;

}

.infoValueAboutTransactionValueArea p{
    font-size: 1rem;
}



/*
    ELEMENTOS A DIREITA
*/

.cardsRight{
    width: 22%;
    max-width: 22%;
    min-width: 22%;
    margin-left: 10px;
}

.accountInfoGeral{
    width: 100%;
    border-radius: 10px;
    background: #171717;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountInfoGeral h1{
    text-align: center;
    padding-top: 5px;
    font-size: 2.2rem;
    font-weight: 500;
}

.accountData{
    width: 90%;
    background: #444444;
    border-radius: 10px;
    padding: 0px 10px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 15px;
}

.accountData h6{
    font-weight: 400;
    font-size: 1.25rem;
    padding-left: 10p;
}

.fastPixBlock{
    width: 100%;
    background: #171717;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.fastPixBlock h1{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
}

.inputArea{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.inputKeyPix{
    width: 95%;
    margin-top: 10px;
    
}

.inputKeyPix input{
    background: #444444;
    border-style: none;
    width: 100%;
    border-radius: 10px;
    height: 30px;
    padding-left: 15px;
    font-size: 1.2rem;
    color: #EEEEEE;

}

.inputValuePix{
    text-align: end;
    padding-right: 10px;
}

.inputValuePix::placeholder{
    text-align: left;
}

.fastPixBlock button{
    margin-top: 10px;
    background: #444444;
    border-style: none;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 1rem;
}

.fastPixBlock button:hover{
    background: black;
}

.fastPixInfoReceiver{
    margin-bottom: 5px;
    margin-top: 15px;
    background: #444444;
    padding: 10px;
    border-radius: 10px;
    width: 93%;
    text-overflow: clip;
}

.fastPixInfoReceiverData{
    display: flex;
    align-items: baseline;
    width: 100%;
}

.fastPixInfoReceiverData h4{
    font-weight: 400;
    font-size: 1rem;
    padding-right: 5px;
}

.fastPixInfoReceiverData h3{
    font-weight: 600;
    text-overflow: clip;
}

